data/*
!data/.gitkeep
input/*
!input/active*
intermed/*
!intermed/.gitkeep
cleaned/*
!cleaned/.gitkeep
refs/*
!refs/.gitkeep
stats/*
!stats/.gitkeep
Holding/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.swp
*.swo
DataQC.Rproj
*.~lock.*
